.container {
    display: flex;
    flex-direction: row;
}

.container .head {
    justify-content: space-between;
}

.container .body {
    justify-content: center;
}

.head {
    height: 30px;
}

.child {
    flex-basis: 100px;
    text-align: center;
    padding: 4px;
}

.satu {
    background-color: coral;
}

.dua {
    background-color: brown;
    flex: 1;
}

.tiga {
    background-color: burlywood;
}

.body {
    flex-basis: 100%;
    height: 400px;
}

.watch {
    background-color: crimson;
}

.suggest {
    background-color: darkorange;
    flex-basis: 30%;
}

.gridcontainer {
    display: grid;
}

.une {
    background-color: khaki;
}

.deux {
    background-color: lightcoral;
}

.trois {
    background-color: lightgreen;
}